<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{217,1},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{117,1},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{275,1},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{30,1},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{302,1},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{59,1},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{356,1},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{88,1},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{246,1},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{142,1},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{381,1},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{167,1},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{329,1},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{192,1},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{406,1},{23,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1-spi.png</string>
            <key>size</key>
            <string>{430,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0629be7201d956da0c84f949caa90f29:258cdb00b0df240b8094bc6fee0ba45c:2d32cdbca57cb05a10a9bbbb20f581a8$</string>
            <key>textureFileName</key>
            <string>1-spi.png</string>
        </dict>
    </dict>
</plist>
